# Modern Portfolio Theory

- Modern Portfolio Theory (MPT) is a Nobel Prize-winning economic theory. 
- It explains how risk-averse investors can construct portfolios to optimize or maximize expected return based on a given level of market risk. 
- <a href = "https://en.wikipedia.org/wiki/Harry_Markowitz">Harry Markowitz</a> pioneered this theory in his paper <a href = "https://onlinelibrary.wiley.com/doi/full/10.1111/j.1540-6261.1952.tb01525.x">Portfolio Selection</a> , which was published in the Journal of Finance in 1952. He was later awarded a Nobel Prize for his work on modern portfolio theory.
- Modern Portfolio Theory suggests diversification of all your securities and asset classes and not putting all your eggs in one basket. It emphasises the importance of portfolios, diversification, risk and the connections among different kinds of securities.

In [1]:
pip install yfinance pandas numpy matplotlib requests beautifulsoup4 --break-system-packages

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/73/b5/d50eec88bc731bb8570ae42a9b764a36144e217361c33fa068391ff59ba3/yfinance-0.2.61-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.61-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas in c:\users\eshan\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\eshan\anaconda3\lib\site-packages (1.24.3)
Requirement already satisfied: matplotlib in c:\users\eshan\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: requests in c:\users\eshan\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\eshan\anaconda3\lib\site-packages (4.12.2)
Collecting multitasking>=0.0.7 (from yfinance)
  Obtaining dependency information for multitasking>=0.0.7 from https://files.pythonhosted.org/packages/3e/8a/bb3160e76e844db9e69a413f055818969c8acade64e1a9ac5ce9dfdcf6c1/multitasking-0.0.11-py3-none-any.whl.metadata
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\eshan\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\eshan\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Obtaining dependency information for frozendict>=2.3.4 from https://files.pythonhosted.org/packages/04/13/d9839089b900fa7b479cce495d62110cddc4bd5630a04d8469916c0e79c5/frozendict-2.4.6-py311-none-any.whl.metadata
  Downloading frozendict-2.4.6-py311-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.18.1.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
      --------------------------------------- 0.1/3.0 MB 1.7 MB/s eta 0:00:02
     --- ------------------------------------ 0.3/3.0 MB 3.4 MB/s eta 0:00:01
     ------------- -------------------------- 1.0/3.0 MB 8.1 MB/s eta 0:00:01
     ------------------------- -------------- 2.0/3.0 MB 12.5 MB/s eta 0:00:01
     ---------------------------------------  3.0/3.0 MB 14.8 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 13.8 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting curl_cffi>=0.7 (from yfinance)
  Obtaining dependency information for curl_cffi>=0.7 from https://files.pythonhosted.org/packages/ea/fb/77dcb3e9fccf368dd58a1fdb8f8ace75dc6579a2701f57af625b00bc781f/curl_cffi-0.11.2-cp39-abi3-win_amd64.whl.metadata
  Downloading curl_cffi-0.11.2-cp39-abi3-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\eshan\anaconda3\lib\site-packages (from yfinance) (4.25.3)
Collecting websockets>=13.0 (from yfinance)
  Obtaining dependency information for websockets>=13.0 from https://files.pythonhosted.org/packages/98/93/e36c73f78400a65f5e236cd376713c34182e6663f6889cd45a4a04d8f203/websockets-15.0.1-cp311-cp311-win_amd64.whl.metadata
  Downloading websockets-15.0.1-cp311-cp311-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eshan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\eshan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\eshan\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\eshan\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\eshan\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\eshan\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\eshan\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\eshan\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\eshan\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\eshan\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\eshan\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\eshan\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\eshan\anaconda3\lib\site-packages (from requests) (2023.7.22)
Requirement already satisfied: soupsieve>1.2 in c:\users\eshan\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: cffi>=1.12.0 in c:\users\eshan\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.15.1)
Collecting certifi>=2017.4.17 (from requests)
  Obtaining dependency information for certifi>=2017.4.17 from https://files.pythonhosted.org/packages/4a/7e/3db2bd1b1f9e95f7cddca6d6e75e2f2bd9f51b1246e546d88addca0106bd/certifi-2025.4.26-py3-none-any.whl.metadata
  Downloading certifi-2025.4.26-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: six>=1.5 in c:\users\eshan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pycparser in c:\users\eshan\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Downloading yfinance-0.2.61-py2.py3-none-any.whl (117 kB)
   ---------------------------------------- 0.0/117.9 kB ? eta -:--:--
   ---------------------------------------- 117.9/117.9 kB ? eta 0:00:00
Downloading curl_cffi-0.11.2-cp39-abi3-win_amd64.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   --------------------------------- ------ 1.2/1.4 MB 38.0 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 22.7 MB/s eta 0:00:00
Downloading certifi-2025.4.26-py3-none-any.whl (159 kB)
   ---------------------------------------- 0.0/159.6 kB ? eta -:--:--
   --------------------------------------- 159.6/159.6 kB 10.0 MB/s eta 0:00:00
Downloading frozendict-2.4.6-py311-none-any.whl (16 kB)
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Downloading websockets-15.0.1-cp311-cp311-win_amd64.whl (176 kB)
   ---------------------------------------- 0.0/176.8 kB ? eta -:--:--
   ---------------------------------------- 176.8/176.8 kB 5.4 MB/s eta 0:00:00
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.18.1-py3-none-any.whl size=139097 sha256=1ce4555f6028d518d9ba5395b87f771c0d6fa2565730b469e253b6b3366c1e4d
  Stored in directory: c:\users\eshan\appdata\local\pip\cache\wheels\25\cb\79\a133a0d1d75f318a96614ed7fb97bdf2f35a7b6c4d4e426e3f
Successfully built peewee
Installing collected packages: peewee, multitasking, websockets, frozendict, certifi, curl_cffi, yfinance
  Attempting uninstall: certifi
    Found existing installation: certifi 2023.7.22
    Uninstalling certifi-2023.7.22:
      Successfully uninstalled certifi-2023.7.22
Successfully installed certifi-2025.4.26 curl_cffi-0.11.2 frozendict-2.4.6 multitasking-0.0.11 peewee-3.18.1 websockets-15.0.1 yfinance-0.2.61
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf
import requests
import pandas as pd 

nifty50 = yf.download("^NSEI", start="2019-01-01", end="2025-03-31")['Close']

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [3]:
nifty50 = nifty50.rename(columns = {'^NSEI': 'Nifty100'})
nifty50.head()

Ticker          Nifty100
Date
2019-01-02  10792.500000
2019-01-03  10672.250000
2019-01-04  10727.349609
2019-01-07  10771.799805
2019-01-08  10802.150391

In [4]:
def fetch_mutual_fund_nav(api_url, name):
    """
    Fetches mutual fund NAV data from mfapi.in and returns a single-column
    DataFrame with 'date' as index and the NAV under the provided name.
    """
    try:
        response = requests.get(api_url)
        response.raise_for_status()
        data = response.json().get("data", [])

        # Load into DataFrame
        df = pd.DataFrame(data)[["date", "nav"]]

        # Convert types
        df["date"] = pd.to_datetime(df["date"], format="%d-%m-%Y")
        df["nav"] = df["nav"].astype(float)

        # Filter date range
        mask = (df["date"] >= "2019-01-01") & (df["date"] <= "2025-04-09")  # today
        df = df.loc[mask]

        # Final cleanup: set index and rename column
        df.set_index("date", inplace=True)
        df.rename(columns={"nav": name}, inplace=True)

        return df

    except Exception as e:
        print(f"Error: {e}")
        return pd.DataFrame(columns=[name])

In [5]:
parag = fetch_mutual_fund_nav("https://api.mfapi.in/mf/122639", "parag")
hdfc = fetch_mutual_fund_nav("https://api.mfapi.in/mf/118955", "hdfc")
icici = fetch_mutual_fund_nav("https://api.mfapi.in/mf/120596", "icici")
motilal = fetch_mutual_fund_nav("https://api.mfapi.in/mf/147704", "motilal")
parag = fetch_mutual_fund_nav("https://api.mfapi.in/mf/122639", "")

In [6]:
dates = pd.date_range(start="2019-01-01", end="2025-04-10", freq="M")
monthly_fd_returns = [(1 + 0.06) ** (1/12) - 1] * len(dates)
fd_df = pd.DataFrame(data=monthly_fd_returns, index=dates, columns=["FD_Return"])
fd_df.head()

            FD_Return
2019-01-31   0.004868
2019-02-28   0.004868
2019-03-31   0.004868
2019-04-30   0.004868
2019-05-31   0.004868

In [7]:
import yfinance as yf

# Download Close price and rename the Series
btc = yf.download("BTC-USD", start="2019-01-01", end="2025-03-31")["Close"]
btc.name = "Bitcoin"

eth = yf.download("ETH-USD", start="2019-01-01", end="2025-03-31")["Close"]
eth.name = "Ethereum"

sol = yf.download("SOL-USD", start="2021-01-01", end="2025-03-31")["Close"]
sol.name = "Solana"

# Combine into one DataFrame
crypto_df = pd.concat([btc, eth, sol], axis=1)
print(crypto_df.head())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Ticker          BTC-USD     ETH-USD  SOL-USD
Date
2019-01-01  3843.520020  140.819412      NaN
2019-01-02  3943.409424  155.047684      NaN
2019-01-03  3836.741211  149.135010      NaN
2019-01-04  3857.717529  154.581940      NaN
2019-01-05  3845.194580  155.638596      NaN

In [8]:

# Download daily gold closing prices
gold_df = yf.download("GC=F", start="2019-01-01", end="2025-03-31")[["Close"]]
gold_df = gold_df.rename(columns={"Close": "Gold"})

# Reset index to have 'date' as a column
gold_df = gold_df.reset_index()

# Optional: format date
gold_df["Date"] = gold_df["Date"].dt.date

# Final DataFrame
print(gold_df.head())

[*********************100%***********************]  1 of 1 completed

Price         Date         Gold
Ticker                     GC=F
0       2019-01-02  1281.000000
1       2019-01-03  1291.800049
2       2019-01-04  1282.699951
3       2019-01-07  1286.800049
4       2019-01-08  1283.199951

In [9]:
gold_df = gold_df.reset_index(drop=True)
gold_df.head()

Price         Date         Gold
Ticker                     GC=F
0       2019-01-02  1281.000000
1       2019-01-03  1291.800049
2       2019-01-04  1282.699951
3       2019-01-07  1286.800049
4       2019-01-08  1283.199951

In [10]:
gold_df.columns = gold_df.columns.get_level_values(-1)  # Keep only bottom level column names
gold_df.head()

Ticker                     GC=F
0       2019-01-02  1281.000000
1       2019-01-03  1291.800049
2       2019-01-04  1282.699951
3       2019-01-07  1286.800049
4       2019-01-08  1283.199951

In [11]:
combined = pd.concat([
    nifty50,
    parag,
    hdfc,
    icici,
    motilal,
    btc,
    eth,
    sol, 
    gold_df
], axis=1)

In [14]:
combined.tail(20)

,Nifty100,,hdfc,icici,motilal,BTC-USD,ETH-USD,SOL-USD,,GC=F
1550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-03,2890.199951
1551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-04,2909.600098
1552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-05,2915.300049
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-06,2916.600098
1554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-07,2904.699951
1555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-10,2891.000000
1556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-11,2912.899902
1557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-12,2939.100098
1558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-13,2984.300049
1559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-14,2994.500000
1560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-17,3000.000000
1561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-18,3035.100098
1562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-19,3035.899902
1563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-20,3040.000000
1564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-21,3018.199951
1565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-24,3013.100098
1566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-25,3023.699951
1567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-26,3020.899902
1568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-27,3060.199951
1569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-28,3086.500000

In [13]:
print(parag.columns)

Index([''], dtype='object')